<app-banner [title]="category.name" [breadCrumb]="breadcrumb+category.slug"></app-banner>

<!-- End banner Area -->

<!-- Start main body Area -->
<div class="main-body section-gap">
    <div class="container box_1170">
        <div class="row">
            <div class="col-lg-8 post-list">
                <!-- Start Post Area -->
                <section class="post-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" *ngFor="let article of category.articles|paginate:config|keyvalue">
                            <div class="single-post-item short">
                                <figure>
                                    <img class="post-img img-fluid" style="width:100%;height:300px;" src="{{globals.backendEndpoint()}}/storage/{{article.value.picture}}" alt="">
                                </figure>
                                <h3>
                                    <a routerLink="/department-{{article.value.department.slug}}/article.value/{{article.value.slug}}">{{article.value.title}}</a>
                                </h3>
                                <p>{{article.value.description}}</p>
                                <a routerLink="/department-{{article.value.department.slug}}/article.value/{{article.value.slug}}" class="primary-btn text-uppercase mt-15">CONTINUER LA LECTURE</a>
                                <div class="post-box">
                                    <div class="d-flex">
                                        <div>
                                            <a href="#">
                                                <img style="width:100px;height:60px" src="{{globals.backendEndpoint()}}/storage/{{article.value.user.picture}}" alt="">
                                            </a>
                                        </div>
                                        <div class="post-meta">
                                            <div class="meta-head">
                                                <a href="#">{{article.value.user.name}}</a>
                                            </div>
                                            <div class="meta-details">
                                                <ul>
                                                    <li>
                                                        
                                                            <span class="lnr lnr-book book" c (click)="downloadPdf(article.value.id)"></span>
                                                        
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="lnr lnr-calendar-full"></span>
                                                            {{article.value.created_at|date:'d/M/y'}}
                                                        </a>
                                                    </li>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
                        </div>
                    </div>
                </section>
                <!-- Start Post Area -->
            </div>
            <app-side class="col-lg-4 sidebar"></app-side>
        </div>
    </div>
</div>