
    <div class="col-lg-12 ">
        <div class="single-widget search-widget">
            <form (ngSubmit)="search()" class="example" action="#" style="margin:auto;max-width:300px">
                <input type="text" [(ngModel)]="searchInput" placeholder="RECHERCHER" name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    
        <div class="single-widget popular-posts-widget">
            <h4 class="title">Articles populaires</h4>
            <div class="blog-list ">
              
                <div class="single-popular-post d-flex flex-row" *ngFor="let pop of popularArticles">
                    <div class="popular-thumb">
                        <img class="img-fluid" style="width:100px; height:60px" src="{{globals.backendEndpoint()}}/storage/{{pop.picture}}" alt="">
                    </div>
                    <div class="popular-details">
                        <a routerLink="/department-{{pop.department.slug}}/article/{{pop.slug}}" *ngIf="pop.department">
                            <h4>{{pop.title}}</h4>
                        </a>
                        <p class="text-uppercase">{{pop.created_at|date:'d/M/y'}}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="single-widget category-widget">
            <h4 class="title">Categories</h4>
            <ul>
                <li *ngFor="let category of categories">
                    <a routerLink="/category/{{category.slug}}" class="justify-content-between align-items-center d-flex">
                        <p>{{category.name}}</p><span>{{category.articles.length}}</span>
                    </a>
                </li>
               
            </ul>
        </div>
    
        
    </div>
    

