<!-- Start banner Area -->
<section class="banner-area">
    <div class="container box_1170">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            
            <div class="banner-content text-center col-lg-8">
                
                <span class="banner-title">{{title}}</span>
                <h1>
                    Association Des Etudiants Et Stagiaires <br>
                    Togolais en Algerie
                </h1>
                <li class="search-box">
                       
                    <input [(ngModel)]="title" type="text" #research placeholder="Search..." >
                    <div class="search"></div>
    
                </li>
            </div>
            
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start Post Silder Area -->
<section class="post-slider-area">
    <div class="container box_1170">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel active-post-carusel">

                    <div class="post-box mb-30" *ngFor="let slide of articleSliders">
                        <div class="d-flex">
                            <div>
                                <a href="#">
                                    <img width=100 height=60 src="{{backendEndpoint()}}/storage/{{slide[0].picture}}" alt="">
                                </a>
                            </div>
                            <div class="post-meta">
                                <div class="meta-head">
                                    <a href="#">{{slide[0].user.name}}</a>
                                </div>
                                <div class="meta-details">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-calendar-full"></span>
                                               {{slide[0].created_at}}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-picture"></span>
                                                Image Post
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-coffee-cup"></span>
                                                {{slide[0].category.name}}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-bubble"></span>
                                                {{slide[0].department.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p>{{slide[0].description}}.</p>
                        <div class="post-btn">
                            <a href="#" class="primary-btn text-uppercase">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-body section-gap mt--30">
    <div class="container box_1170">
        <div class="row">
            <div class="col-lg-8 post-list">
                <!-- Start Post Area -->
                <section class="post-area">
                    <div class="single-post-item" *ngFor="let article of articles">
                        <figure>
                            <img class="post-img img-fluid" style="width:100%; height:100%" src="{{backendEndpoint()}}/storage/{{article.picture}}" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">{{article.title}}</a>
                        </h3>
                        <p>{{article.description}}</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img height=60 width=100 src="{{backendEndpoint()}}/storage/{{article.user.picture}}" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">{{article.user.name}}</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    {{article.created_at}}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-picture"></span>
                                                    Image Post
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-coffee-cup"></span>
                                                    {{article.category.name}}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    {{article.department.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </section>
                <!-- Start Post Area -->
            </div>
            <app-side class="col-lg-4 sidebar"></app-side>
           
        </div>
    </div>
</div>
