<header id="header">
    <div class="container box_1170 main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a routerLink="/home"><img width=70 height=70 src="../../assets/img/aesta_logo.jpg" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                
                <ul class="nav-menu">
                   
                    <li class="menu-active"><a routerLink="/">Acceuil</a></li>
                    <li class="menu-has-children"><a href="">Départements</a>
                        <ul class='departements'>
                            <li><a routerLink="/department-ntic" routerLinkActive="active">NTICS</a></li>
                            <li><a routerLink="/department-sante" routerLinkActive="active">SANTÉ</a></li>
                            <li><a routerLink="/department-education" routerLinkActive="active">EDUCATION</a></li>
                            <li><a routerLink="/department-spirituel" routerLinkActive="active">SPIRITUEL</a></li>
                            <li><a routerLink="/department-entreprenarial" routerLinkActive="active">ENTREPRENARIAL</a></li>
                            <li><a routerLink="/department-ancien" routerLinkActive="active">ANCIENS</a></li>
                        </ul>
                       
                    </li>
                    <li><a routerLink="/a-propos" routerLinkActive="active">A propos</a>
                     
                    </li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    
                </ul>
               
            </nav>
          
        </div>
    </div>
</header>
<!-- End header Area -->

