.departements{
    
  li:hover{
      background-color:#2E7D32;
      a{

          color:white;
      }
  }
}

header{
  li{a{

      color:#43A047;
      text-shadow: 4px;
      font-size:18px;
   }
   .active{
    color:red;
  }
  }
}
