<header id="header">
    <div class="container box_1170 main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a routerLink="/"><img width=70 height=70 src="../../assets/img/aesta_logo.jpg" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                
                <ul class="nav-menu">
                   
                    <li class="menu-active"><a href="/">Acceuil</a></li>
                    <li><a href="category.html">Articles recents</a></li>
                    <li><a href="archive.html">Archive</a></li>
                    <li class="menu-has-children"><a href="">Départements</a>
                        <ul class='departements'>
                            <li><a href="elements.html">NTICS</a></li>
                            <li><a href="elements.html">SANTÉ</a></li>
                            <li><a href="elements.html">EDUCATION</a></li>
                            <li><a href="elements.html">SPIRITUEL</a></li>
                        </ul>
                       
                    </li>
                    <li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    
                </ul>
               
            </nav>
          
        </div>
    </div>
</header>
<!-- End header Area -->

